<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thêm khách hàng mới</title>
</head>
<body>
 <h1> Thêm Khách hàng</h1>
<form action="/luu-khach-hang" method="post">
    <input type="text" name="TenKH" placeholder="Tên Kh"/><br/>
    <input type="text" name="DienThoai" placeholder="So DT"/><br/>
    <textarea type="text" name="Diachi" placeholder="Địa chỉ"/></textarea>
    <br/>
    <button type="submit" >Submit</button>
</form>
</body>
</html>